*{
    margin: 0;
    padding: 0;
}

a .fa{
    position: absolute;

    left: 50%;
    top: 50%;

    font-size: 40pt;

    color: silver;
}

a .fa:hover{
    color: blue;
}
a .fa:visited{
    color: red;
}
a .fa:visited a .fa:hover{
    color: rgba(255, 0, 0, 0.3);
}