*{
    margin: 0;
    padding: 0;
}

a > .fa{
    position: absolute;

    left: 50%;
    top: 50%;

    font-size: 40pt;

    color: silver;
}

a > .fa:hover {
    color: blue;
}
a > .fa:active{
    color: green;
    opacity: .5;
}
/* a:visited > .fa{
   color: red;
   opacity: .5;
} */