* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a,
body,
button,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: block;
}

form {
  display: block;
  margin-top: 0;
}

::after,
::before {
  box-sizing: border-box;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  border-radius: 0;
}

button {
  text-rendering: auto;
  color: -internal-light-dark-color(buttontext, #aaaaaa);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark-color(#efefef, #4a4a4a);
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark-color(#767676, #c3c3c3);
  border-image: initial;
}

svg:not(:root) {
  overflow: hidden;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main_header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 107px;
}
.main_header .topHeader_wrapper {
  display: flex;
  max-height: 60px;
  width: 100%;
}
.main_header .topHeader_wrapper .topHeader1 {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 24px;
}
.main_header .topHeader_wrapper .topHeader1 a:hover {
  text-decoration: none;
}
.main_header .topHeader_wrapper .topHeader2 {
  display: flex;
  align-items: center;
}
.main_header .topHeader_wrapper .topHeader2 .logoIcon {
  display: flex;
}
.main_header .topHeader_wrapper .topHeader2 .logoIcon svg {
  height: 30px;
  width: 198px;
  margin-top: 4px;
}
.main_header .topHeader_wrapper .topHeader3 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .topHeader3_searchContainer {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding-right: 16px;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .topHeader3_searchContainer .searchWrapper {
  display: inline-block;
  position: relative;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .topHeader3_searchContainer .searchWrapper .search_form {
  position: absolute;
  right: 0;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .authorization_Container,
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .account_tooltip {
  display: flex;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .authorization_Container .authorization_button,
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .account_tooltip .authorization_button {
  border: 0;
  background-color: transparent;
  padding: 0 8px;
  text-align: center;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .authorization_Container .authorization_dropdown,
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .account_tooltip .authorization_dropdown {
  visibility: hidden;
  position: absolute;
  transform: translate3d(calc(100vw - 205px), 51px, 0px);
  top: 0;
  left: 0;
  width: 200px;
  height: auto;
  padding: 8px 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 5;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .authorization_Container .authorization_dropdown .authorization_dropdown_List,
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .account_tooltip .authorization_dropdown .authorization_dropdown_List {
  text-align: left;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .authorization_Container .authorization_dropdown .authorization_dropdown_List .list,
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper .account_tooltip .authorization_dropdown .authorization_dropdown_List .list {
  padding-top: 8px;
  margin: 0;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .authorization_wrapper:hover .authorization_dropdown {
  visibility: visible;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .cart_button {
  line-height: 1.5;
  line-height: 60px;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 16px;
  margin: 0;
  display: flex;
  vertical-align: middle;
  position: relative;
}
.main_header .topHeader_wrapper .topHeader3 .topHeader3_containerWrapper .cart_button .cart_button_svg {
  display: inline-block;
}
.main_header .bottomHeader_wrapper {
  width: 100%;
  align-items: center;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer {
  display: flex;
  justify-content: center;
  opacity: 1;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .bottomHeader_menu_item > a {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 4px 16px;
  margin: 0 8px;
  z-index: 1;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .bottomHeader_menu_item > a:hover {
  border-bottom: 1px solid #232323;
  text-decoration: none;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .bottomHeader_menu_item:hover .desctopNavigationContainer {
  visibility: visible;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer {
  visibility: hidden;
  display: block;
  flex-grow: 1;
  position: fixed;
  height: 475px;
  width: 100%;
  opacity: 1;
  background-color: #fff;
  left: 0;
  top: 107px;
  text-align: left;
  overflow: hidden;
  z-index: 5;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav {
  display: block;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 24px;
  margin: 0 auto;
  max-width: 980px;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_columnHeader {
  display: block;
  padding-right: 32px;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_linkText {
  cursor: pointer !important;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_textWrapper {
  padding-left: 24px;
  padding-right: 32px;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_textWrapper .desctop_navigation_navWrapper {
  width: 100%;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_textWrapper .desctop_navigation_navWrapper a {
  display: block;
  margin: 0;
  padding: 8px 0;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_textWrapper .desctop_navigation_navWrapper a:hover {
  text-decoration: underline;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .navColumn .desctop_navigation_textWrapper .desctop_navigation_navWrapper a .desctop_navigation_navBadge {
  display: inline-block;
  position: relative;
  top: -6px;
  padding-left: 4px;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .desctop_navigation_imageArea {
  display: flex;
  justify-content: left;
  height: 400px;
  border-left: 1px solid #e5e5e5;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .desctop_navigation_imageArea .desctop_navigation_imageWrapper {
  padding-left: 32px;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .desctop_navigation_imageArea .desctop_navigation_imageWrapper .image_component {
  position: relative;
  text-align: center;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .desctop_navigation_imageArea .desctop_navigation_imageWrapper .image_component .img {
  object-fit: contain;
  object-position: center;
  width: auto;
  padding-bottom: 8px;
  width: auto;
}
.main_header .bottomHeader_wrapper .bottomHeader_navigationContainer .desctopNavigationContainer .desctopNav .desktop_navigation .desctop_navigation_imageArea .desctop_navigation_imageWrapper .image_component .desctop_navigation_imageTextFirst {
  padding-top: 8px;
}

.pageContent {
  display: flex;
  flex-direction: row;
  position: relative;
}
.pageContent .mainContentContainer {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  flex-grow: 2;
  min-height: 100vh;
}
.pageContent .mainContentContainer .mainContent {
  flex: 1 1;
}
.pageContent .mainContentContainer .mainContent .homePage {
  max-width: 1440px;
  margin: auto;
}
.pageContent .mainContentContainer .mainContent .homePage .corousel_wrapper {
  margin: 16px 128px 32px 128px;
}
.pageContent .mainContentContainer .mainContent .homePage .corousel_wrapper .carousel {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery {
  position: relative;
  padding: 0px 0px 32px;
  width: 100%;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery img {
  width: 100%;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery .image-gallery-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery .image-gallery-section .image-gallery-section-description {
  margin: 8px auto 4px;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery .image-gallery-section .image-gallery-section-button {
  padding: 16px 0 0;
  white-space: normal;
  text-align: center;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery .image-gallery-section .image-gallery-section-button a {
  display: inline-block;
  width: auto;
  height: 48px;
  margin-right: 0;
  background-color: #232323;
  color: #f4f4f4;
  border: 1px solid transparent;
  padding: 0 24px;
}
.pageContent .mainContentContainer .mainContent .homePage .gallery .image-gallery .image-gallery-section .image-gallery-section-button a:hover {
  background-color: #333;
  text-decoration: none;
}

.main_footer .footer-component {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  left: 0;
  min-height: 350px;
  border-top: 1px solid transparent;
  padding: 48px 32px;
  overflow: hidden;
}
.main_footer .footer-component .footer_social,
.main_footer .footer-component .footer_links,
.main_footer .footer-component .footer_email {
  width: 33%;
}
.main_footer .footer-component .footer_social .footer_socialIcons,
.main_footer .footer-component .footer_links .footer_socialIcons,
.main_footer .footer-component .footer_email .footer_socialIcons {
  padding-bottom: 16px;
}
.main_footer .footer-component .footer_social .footer_socialIcons .footer_socialIcon,
.main_footer .footer-component .footer_links .footer_socialIcons .footer_socialIcon,
.main_footer .footer-component .footer_email .footer_socialIcons .footer_socialIcon {
  display: inline-block;
}
.main_footer .footer-component .footer_social .footer_socialIcons .footer_socialIcon .svg-inline--fa,
.main_footer .footer-component .footer_links .footer_socialIcons .footer_socialIcon .svg-inline--fa,
.main_footer .footer-component .footer_email .footer_socialIcons .footer_socialIcon .svg-inline--fa {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  overflow: visible;
  vertical-align: -0.125em;
  text-align: center;
}
.main_footer .footer-component .footer_social .footer_Blog,
.main_footer .footer-component .footer_links .footer_Blog,
.main_footer .footer-component .footer_email .footer_Blog {
  display: flex;
  flex-direction: row;
  padding-right: 32px;
}
.main_footer .footer-component .footer_social .footer_Blog .footer_blogImage,
.main_footer .footer-component .footer_links .footer_Blog .footer_blogImage,
.main_footer .footer-component .footer_email .footer_Blog .footer_blogImage {
  display: block;
  width: 100px;
  min-width: 100px;
  height: 100px;
  margin-right: 16px;
}
.main_footer .footer-component .footer_social .footer_Blog .footer_blogDescription,
.main_footer .footer-component .footer_links .footer_Blog .footer_blogDescription,
.main_footer .footer-component .footer_email .footer_Blog .footer_blogDescription {
  margin-bottom: 8px;
}
.main_footer .footer-component .footer_links {
  display: flex;
  flex-direction: row;
}
.main_footer .footer-component .footer_links .footer_linkRow {
  display: flex;
  flex-direction: column;
}
.main_footer .footer-component .footer_links .footer_linkRow .footer_link {
  margin: 8px 0;
}
.main_footer .footer-component .footer_links .footer_linkRow .footer_link:hover {
  text-decoration: none;
}
.main_footer .footer-component .footer_email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_footer .footer-component .footer_email .email_form_component {
  margin-bottom: 16px;
}
.main_footer .footer-component .footer_email .email_form_component .email_form_title {
  display: block;
  margin-bottom: 8px;
}
.main_footer .footer-component .footer_email .email_form_component .email_form_description {
  margin: 0 0 16px;
}
.main_footer .footer-component .footer_email .email_form_component .email_form_formWrapper {
  position: relative;
}
.main_footer .footer-component .footer_email .email_form_component .email_form_formWrapper .email_form_form {
  display: flex;
}
.main_footer .footer-component .footer_email .email_form_component .email_form_formWrapper .email_form_form .input_label_component {
  display: relative;
  padding: 8px 0;
  width: 100%;
}
.main_footer .footer-component .footer_email .email_form_component .email_form_formWrapper .email_form_form .input_label_component .input_label_label {
  display: block;
  position: absolute;
  margin: 0 10px 5px 0;
  padding: 18px 0 0 12px;
  transition: all 0.1s ease-in-out;
}
@font-face {
  font-family: "Cabin", sans-serif;
  src: url("fonts/Cabin.ttf");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("fonts/Roboto.ttf");
}
.topHeader1_tooltip {
  font-family: "Cabin";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.5;
  padding-right: 16px;
}

.topHeader3_searchContainer {
  display: inline-block;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.search_form .inputWrapper .search_input {
  border: 0;
  border-bottom: 1px solid #232323;
  height: 35px;
  width: 12vw;
  padding: 0 4px 0 37px;
  cursor: auto;
  color: #232323;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.search_form .svg-inline--fa.fa-w-16 {
  width: 1em;
}
.search_form .svg-inline--fa {
  font-size: 22px;
  width: 0;
  pointer-events: none;
}
.search_form .search---searchIcon---8CqRO {
  position: absolute;
  left: 8px;
  fill: #333;
  top: 6px;
}

.discount_link {
  color: #232323;
  font-family: "Cabin";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding-right: 16px;
}
.discount_link:hover {
  color: #232323;
  text-decoration: none;
}

.authorization_link {
  font-family: "Cabin";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #232323;
}
.authorization_link:hover {
  text-decoration: none;
  color: inherit;
}
.authorization_link:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #232323;
  top: 11px;
  right: -5px;
  position: relative;
}

.authorization_dropdown_List ul:not(:first-child) {
  border-top: 1px solid #c9c9c9;
}

.authorization_dropdown {
  border: 1px solid #c9c9c9;
  border-radius: 0;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
}
.authorization_dropdown .authorization_dropdown_List ul li {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #707070;
  padding-bottom: 16px;
}
.authorization_dropdown .authorization_dropdown_List ul li a {
  color: inherit;
  display: block;
}
.authorization_dropdown .authorization_dropdown_List ul li a:hover {
  text-decoration: none;
}
.authorization_dropdown .authorization_dropdown_List ul li:hover {
  color: black;
}

.cart_button {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  border: 0;
  background-color: transparent;
}
.cart_button svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.cart_button .svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.cart_button .svg-inline--fa {
  display: inline-block;
  width: 0;
  height: 1em;
  pointer-events: none;
  overflow: visible;
  vertical-align: -0.125em;
  font-size: 22px;
  font-size: inherit;
}

.bottomHeader_menu_item a {
  color: #232323;
  font-family: "Cabin";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
}

.navColumn .desctop_navigation_columnHeader {
  display: block;
  color: #232323;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: right;
  padding-right: 32px;
  margin: 10px 0;
}
.navColumn .desctop_navigation_textWrapper .desctop_navigation_navWrapper a {
  color: #232323;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-size: 12px;
  text-align: right;
}
.navColumn .desctop_navigation_textWrapper .desctop_navigation_navWrapper a .desctop_navigation_navBadge {
  color: #232323;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 16px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.desctop_navigation_imageTextFirst {
  color: #232323;
  font-family: "Cabin";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.desctop_navigation_imageTextSecond {
  color: #232323;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
}

.image-gallery .image-gallery-section .image-gallery-section-title {
  color: #232323;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: 0.5px;
}
.image-gallery .image-gallery-section .image-gallery-section-description {
  color: #232323;
  font-family: "Cabin";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  white-space: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.image-gallery .image-gallery-section .image-gallery-section-button a {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
}

.main_footer .footer-component {
  background-color: #232323;
}
.main_footer .footer-component .footer_social .footer_socialIcon {
  cursor: pointer;
  font-size: 20px;
  color: #707070;
}
.main_footer .footer-component .footer_social .footer_socialIcon .svg-inline--fa {
  font-size: 22px;
  font-size: inherit;
}
.main_footer .footer-component .footer_social .footer_Blog .footer_blogTitle {
  font-family: "Cabin";
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #f4f4f4;
  margin: 8px 0;
  font-weight: 800;
}
.main_footer .footer-component .footer_social .footer_Blog .footer_blogDescription {
  font-family: "Cabin";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #c9c9c9;
  line-height: 1.5;
}
.main_footer .footer-component .footer_social .footer_Blog .footer_blogLink {
  font-family: "Cabin";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;
  color: #fff;
  text-decoration: underline;
}
.main_footer .footer-component .footer_link {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4f4;
}
.main_footer .footer-component .email_form_component {
  color: #f4f4f4;
}
.main_footer .footer-component .email_form_component .email_form_title {
  font-family: "Cabin";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.main_footer .footer-component .email_form_component .email_form_description {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}
.main_footer .footer-component .email_form_component .email_form_formWrapper {
  display: inline-block;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #232323;
}
.main_footer .footer-component .email_form_component .email_form_formWrapper .email_form_form {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #707070;
  cursor: text;
}
.main_footer .footer-component .email_form_component .email_form_formWrapper .email_form_form .input_label_component {
  display: inline-block;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: none;
  color: #232323;
}
.main_footer .footer-component .email_form_component .email_form_formWrapper .email_form_form .input_label_component .input_inputWrapper {
  display: inline-block;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: none;
  color: #232323;
}