.name_institution{
    text-align: center;
    font-weight: 700;
}

.subject{
    text-align: center;
}

.topic{
    text-align: center;
    font-weight: 700;
}

.student{
    text-align: right;
}

.year{
    text-align: center;
}

.em{

}