.wrapper{
    width: 210mm;
    height: 297mm;
    margin-left: auto;
    margin-right: auto;
    padding: 20mm 10mm 20mm 30mm;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    line-height: 0.5;
}

.name_institution{
    text-align: center;
    font-weight: 700;
}

.subject{
    margin-top: 250px;
    text-align: center;
}

.topic{
    text-align: center;
    font-weight: 700;
}

.student{
    margin-top: 250px;
    margin-left: 350px;
}

.year{
<<<<<<< HEAD
    margin-top: 280px;
=======
    margin-top: 250px;
>>>>>>> 89e3c61bc7f895e0bbf5121d499caae3786b734d
    text-align: center;
}

.em1{
    text-decoration: underline;
}