* {
    margin: 0;
    padding: 0;
}

a, ul {
    text-decoration: none;
    list-style: none;
}

.header-wrapper {
    width: 100vw;
    height: 790px;

    background-image: url("https://static.tildacdn.com/tild6535-3035-4530-b630-383061373964/kct-2019.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.background {
    width: 100vw;
    height: 790px;

    background-color: rgba(45, 45, 45, 0.65);
}

.header_head-wrapper {
    display: flex;
    width: 100vw;
    height: 100px;
}

.header_head_logo {
    display: flex;
    align-items: center;

    min-width: 311px;
    height: auto;
}

.header_head_logo span {
    font-family: "Roboto", sans-serif;
    font-size: 24pt;
    font-weight: 600;
    color: white;

    margin-left: 50px;
}

.header_head_menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
}

.header_head_menu ul {
    display: flex;
}

.header_head_menu li {
    padding: 0 20px;
}

.header_head_menu a {
    font-size: 13pt;
    font-weight: 600;
    font-family: "Roboto", sans-serif;

    color: white;
}

.header_head_menu a:hover {
    border-bottom: 1px solid white;

    transition: all 1s;
}

.header_head-header_head_contacs {
    display: flex;
    align-items: center;

    min-width: 311px;
    height: auto;

    margin-right: 20px;
}

.header_head_contacs_tel {
    width: auto;
    height: auto;

    padding-right: 20px;
}

.header_head_contacs_tel a {
    font-size: 13pt;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: white;
}

.header_head_contacs_socialLinks a {
    margin-left: 5px;
}

.name {
    display: flex;
    justify-content: center;

    line-height: 1.45;
}

.name > h1 {
    font-size: 46pt;
    color: white;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-align: center;

    width: 869px;
}

.contant_info {
    display: flex;
    justify-content: center;
}

.contant_info .item {
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
    line-height: 1.55;
    text-align: center;

    width: 320px;
    padding: 80px 45px;
}

.contant_info .item h1 {
    color: #fac832;
    font-size: 24pt;
    font-weight: 600;
}

.contant_info .item span {
    color: white;
    font-size: 12pt;
    font-weight: 500;
}

.text {
    display: flex;
    width: 100%;
    justify-content: center;

    line-height: 1.45;
}

.text > h1 {
    font-size: 26pt;
    color: white;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-align: center;

    width: 650px;
}

.sign_up {
    display: flex;
    justify-content: center;

    width: auto;
    padding: 50px 0;
}

.sign_up-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 360px;
    height: 55px;

    background-color: #ee5555;
    border-radius: 5px;
    border: 0;

    font-size: 12pt;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: white;
}

.sign_up-wrapper:hover {
    background-color: white;
    color: #ee5555;

    transition: all .7s;
}
