*{
    margin: 0;
    padding: 0;
}

.header_wrapper{
    position: absolute;

    width: 100%;
    height: 100px;
}

.shop_name>span{
    position: absolute;

    width: auto;
    height: 1.5em;

    font-size: 36pt;
    font-weight: 700;

    left: 40%;
    top: 0%;

    text-align: center;
}

.main_nav ul{
    position: absolute;

    width: 100%;
    height: 1.5em;

    top: 70px;
}

ul{
    list-style: none;
}

.main_nav .main_nav_container{
    display: inline;
}

.main_menu_item{
    width: 15%;
    height: 1.5em;

    margin-left: 7.5%;

    border: 1px solid black;
    border-radius: 10px;
}

.nav_container{
    width: 15%;
    height: 1.5em;

    margin-left: 7.5%;
}
