* {
    padding: 0;
    margin: 0;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url('../IMAGES/musical_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat:  no-repeat;
}

.header_wrapper {
    width: 100%;
    height: auto; 

    background-color: rgba(71, 55, 25, 0.7);

    overflow: hidden;
}

.shop_logo {
    float: left;
}

.shop_logo a {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

    cursor: pointer;
}

.header_menu {
    float: left;
    height: auto;
    width: 645px;
}
.header_menu ul li {
    float: left;
    text-align: center;
}
.header_menu ul li a {
    display: block;
    width: 215px;
    color: white;
    height: auto;
    padding-top: 25px;
    cursor: pointer;
}


/* .shop_name{
    float: left;

    font-size: 20pt;
    font-weight: 700;
    text-shadow: 5px 5px 5px black;

    color: rgb(204, 167, 99);
}
.shop_name::before
{
    position: absolute;

    content: "";

    width: 120px;
    height: 100%;

    background-image: url('../IMAGES/key_gold1.png');
    background-size: 100%;
    background-repeat: no-repeat;
} */

.shop_search{
    float: left;
    padding-top: 25px;
    padding-right: 10px;
}
.shop_search > .fa{
    float: right;

    margin-left: 5px;
    margin-top: 2px;

    font-size: 14pt;

    color: rgb(204, 167, 99);
}

.shop_number{
    float: left;
    padding-top: 27px; 
    width: auto;
}
.shop_number a{
    color: white;
}

.photo1 {
    width: 720px;
    height: auto;
    margin: 10px auto;
}

.photo2 {
    width: 720px;
    height: auto;
    margin: 20px auto;
}