*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('../IMAGES/musical_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat:  no-repeat;
}

.header_wrapper{
    width: 100%;
    height: 100px;  
}

.shop_name{
    float: left;

    font-size: 30pt;
    font-weight: 700;
    text-shadow: 5px 5px 5px black;

    color: rgb(204, 167, 99);

    width: 370px;

    margin-left: 9%;
}

.shop_logo{
    float: left;

    width: 130px;
    height: 100px;

    margin-left: 17%;
    margin-top: 0.5%;
}

.shop_search{
    float: left;

    margin-top: 3.5rem;
    margin-left: 9%;
}

.shop_search > .fa{
    float: right;

    margin-left: 5px;
    margin-top: 2px;

    font-size: 14pt;

    color: rgb(204, 167, 99);
}

ul, a{
    list-style: none;
    text-decoration: none;
}

.nav>ul>li{
    float: left;

    width: 23%;
    
    justify-content: center;
}

.nav>ul li a{
    display: block;

    padding: 10px 30px;
 
    font-size: 11pt;
    text-transform: uppercase;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#faf4ff+0,faf4ff+5,f5eaff+75,f5eaff+100 */
    background: rgb(250,244,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,244,255,1) 0%, rgba(250,244,255,1) 5%, rgba(245,234,255,1) 75%, rgba(245,234,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(250,244,255,1) 0%,rgba(250,244,255,1) 5%,rgba(245,234,255,1) 75%,rgba(245,234,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(250,244,255,1) 0%,rgba(250,244,255,1) 5%,rgba(245,234,255,1) 75%,rgba(245,234,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf4ff', endColorstr='#f5eaff',GradientType=0 ); /* IE6-9 */

    color: rgb(167, 35, 255);

    transition: all 0.3s ease;
}

.nav > ul li{
    position: relative;
    text-align: center;
}

.nav > ul li > a i.fa{
    position: absolute;
    
    top: 10px;
    left: 20px;
    font-size: 14pt;
}

.nav li a:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d15eff+0,d15eff+5,bd23ff+75,bd23ff+75,bd23ff+100 */
    background: rgb(209,94,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(209,94,255,1) 0%, rgba(209,94,255,1) 5%, rgba(189,35,255,1) 75%, rgba(189,35,255,1) 75%, rgba(189,35,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(209,94,255,1) 0%,rgba(209,94,255,1) 5%,rgba(189,35,255,1) 75%,rgba(189,35,255,1) 75%,rgba(189,35,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(209,94,255,1) 0%,rgba(209,94,255,1) 5%,rgba(189,35,255,1) 75%,rgba(189,35,255,1) 75%,rgba(189,35,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d15eff', endColorstr='#bd23ff',GradientType=0 ); /* IE6-9 */

    color: rgb(255, 255, 255);
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/* .shop_name::before
{
    position: absolute;

    content: "";

    width: 130px;
    height: 100%;

    top: 1%;
    left: 15%;

    background-image: url('../IMAGES/key_gold1.png');
    background-size: 100%;
    background-repeat: no-repeat;
} */