* {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

  background: url('../IMAGES/sky.jpg'), url('../IMAGES/sea.jpg'), url('../IMAGES/sun.png');
  background-repeat: repeat;
}
